.head{
font-size: 2.3vh;
background-color: white;

}
.head .navbar__brand{
    font-size: 3.5vh;
    font-weight: bold;
    color: #6F38C5;
    font-family: 'Pacifico', sans-serif;
    
}
.head .dropdown{
    font-size: 2.3vh;
}
body[data-theme=light] .head{
    background-color: white;

}
body[data-theme=dark] .head .navbar__brand {
    color:#98A8F8;

}
body[data-theme=dark] .dropdown
{
    background-color: #3C4048;
    color: white;
}
body[data-theme=dark] .head{
    background-color: #3C4048;

}
