
/*Smart phone nhỏ*/
@media screen and (min-width: 240px){
    
h4{
    text-align: center; 
}
#about p{
    text-align: left;
}
.about-education{
margin-bottom:5%;
}
    
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px){
        
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px){
      
    }